#game{
	width: 450px;
	height: 450px;
	background: orange;

}

.block {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid white;
	box-sizing: border-box;
	line-height: 150px;
	text-align: center;
	font-size: 120px;	
	text-transform: uppercase;
}